body{
    background-color: rgb(238, 227, 133);
}
.box
{
    width: 250px; 
    height: 250px;
    border: 2px solid #c91212; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    border-radius: 10px;
}
.next
{
    border-radius: 10px;
    border-color: blue;
    margin-left: 105px;
}
.cont
{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top:10%;
}

